---
import { Image } from "astro:assets";
const { title, image, link } = Astro.props;
---

    <div class="artikel1">
      <a href={link}>
        <Image src={image} alt={title} class="artikel-img" />
      </a>
      <h3><span>Local CRTV</span>{title}</h3>
    </div>



<style>
    .grid_1-2{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }




    .artikel1{
       margin-top: 100px;
       margin-left: 100px;
    }
    span{
        font-size: 0.9rem;
        border-bottom: 1px solid black;
        margin-right: 20px;
    }
    h3{
        font-weight: 600;
        margin: 25px 0;
    }
    
    .artikel-img{
        filter: grayscale(100%);
    }
    .artikel-img:hover{
        filter: none;
    }
</style>