<section class="footer">
  <div class="newsletter">
    <div class="marquee">
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
      <p>NEWSLETTER+++</p>
    </div>
  </div>
  <section>
    
  </section>
  <div class="footer-overskrift">
        <div>
            <h1>Design news to <br />your Inbox</h1>
        </div>
        <div>
            <input class="email-input" type="email" placeholder="Email">
        </div>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="svg-signup" id="Lag_2" data-name="Lag 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193 63">
        <defs>
        </defs>
        <g id="Lag_1-2" data-name="Lag 1">
        <path class="cls-2" d="M2.5,29.64c3.45-.33,10.36-2.96,20.47-10.58C36.19,9.1,59.66,3.13,67.47,2.62c3.72-.24,2.63,4.79,2.34,7.77-.51,5.29-7.79,10.28-16.14,15.91-5.99,4.04-14.14,7.95-21.1,11.45-1.4.7-1.74,1.82-.89,2.16,14.47,5.85,40.12-15.88,49.94-21.02,10.11-5.3,19.65-13.09,25.73-16.09,4.36-2.15-3.73,7.93-7.76,12.08-7.45,7.65-19.64,18.05-27.43,23.86-9.62,7.18-18.21,15.41-19.68,20.56-1.44,5.03,15.86-7.1,23.09-11.57,7.79-4.82,16.45-9.11,25.7-13.92,8.97-4.66,18.47-9.11,28.02-11.62,8.69-2.28-2.55,9.43-4.01,13.57-.41,1.15-.86,2.48.28,3.15,1.14.68,3.99.68,6.33.35,12.02-1.69,30.56-10.57,42.18-16.39,4.48-2.24,9.26-3.82,13.58-5.31,2.14-.74,3.75-1.81,2.35-.02-12.9,16.45-32.6,26.67-36.98,30.01,5.47-2.31,13.53-4.29,21.06-5.96,1.74-.33,3.46-.66,6.96-1"/>
        <path class="cls-1" d="M20.84,38.55h10.06v-5.94l-14.81-8.56V7.42h19.81v10.19h-4.69v-5.56h-10.12v7.5l14.69,8.5v15.12l-19.69.06v-10.25h4.75v5.56ZM48.78,11.98h-4.56v-4.56h13.56v4.56h-4.25v26.62h4.56v4.62h-13.5v-4.62h4.19V11.98ZM75.34,19.55h10.88v23.69h-19.81V7.42h19.81v4.69h-14.81v26.62h10.06v-14.75h-6.12v-4.44ZM101.03,7.36l10.25,19.88V7.42h5v35.81h-3.75l-11.31-22.38v22.38h-4.75V7.42l4.56-.06ZM159.09,7.42v35.81h-19.81V7.42h4.75v31.31h10.06V7.42h5ZM187.91,27.23h-13.81l.06,16h-4.81V7.42h18.56v19.81ZM182.91,22.73v-10.88h-8.81v10.88h8.81Z"/>
        </g>
        </svg>
  </div>
  <div class="esc-tekst">
      <h3>Creative Escape</h3>
  </div>
  <section class="flex3">
      <div>
        <p>Art</p>
        <p>Design</p>
        <p>Architecture</p>
      </div>
      <div>
        <p>Website</p>
        <p>Podcast</p>
        <p>Authors</p>
      </div>
      <div>
        <p>Styleguide</p>
        <p>Licensing</p>
        <p>Changelog</p>
      </div>

  </section>
</section>


<!-- css styling til footer -->
<style>

.esc-tekst{
    color: #ffffff;
    padding: 10px;
    margin-bottom: -65px;
    margin-left: 20px;
}

.email-input {
    padding: 5px;
    font-size: 1.2rem;
    width: 300px;
  }

  .footer {
    background-color: #333333;
    overflow: hidden; 
    padding: 10px;
  }

  .newsletter {
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden; 
  }

  .marquee {
    display: inline-flex;
    gap: 70px;
    animation: scrollText 30s linear infinite;
  }

  .marquee p {
    color: #FF7A00;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
  }

  @keyframes scrollText {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  .footer-overskrift{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
  }

  .footer-overskrift h1 {
    color: #ffffff;
    padding: 50px 80px;
    font-size: 5rem;
  } 


  .flex3 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    padding: 20px 0px;
    align-items: left;
  }
  .flex3 div{ 
    width: 300px;
    padding: 0px 5px;
  }
  .flex3 div p 
  {
    color: #ffffff;
    font-size: 0.8rem;
  }
  .text-left{
    text-align: left;
  }

  .flex3 div{
    border-top: 1px solid #f3f0f036;
  }

      .cls-1 {
        fill: #fff;
      }

      .cls-2 {
        fill: none;
        stroke: #ff7a00;
        stroke-linecap: round;
        stroke-width: 5px;
      }
      .svg-signup {
        width: 100%;
        height: 50px;
        max-width: 200px;
      }
      .svg-signup:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      .email-input:focus {
        outline: none;
        border: 2px solid #ff7a00;
      }


</style>
