

<header>
<div class="navbar">
  <svg width="200" height="70" viewBox="0 0 391 101" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_121_613)">
<path d="M46.3373 64.2631H24.4344V23.5777H39.9302V32.0586H47.103V16.5274H16.7817V71.1237H46.3373V64.2631Z" fill="black"/>
<path d="M106.595 71.1237H113.867V23.4829H125.153V16.5274H94.7368V23.4829H106.595V71.1237Z" fill="black"/>
<path d="M158.713 71.1237L168.564 16.5274H158.903L152.112 63.3107H149.339L142.452 16.5274H133.271L143.027 71.1237H158.713Z" fill="black"/>
<path d="M63.6538 46.7869H66.7126L80.102 71.1784H89.6669L76.3728 46.7869H84.7911V16.5821H56.3821V71.1784H63.7453L63.6501 46.7869H63.6538ZM63.6538 23.3478H77.1384V39.9263H63.6538V23.3478Z" fill="black"/>
<path d="M207.915 71.4923H238.397V64.0223H215.223V42.1779H238.397V35.2808H215.223V23.4026H238.397V16.5055L207.915 16.6004V71.4923Z" fill="black"/>
<path d="M248.31 42.083L271.1 55.2057V64.3069H255.619V55.7823H248.31V71.4923L278.602 71.3974V48.2138L256.003 35.1823V23.6909H271.583V32.2155H278.793V16.6004H248.31V42.083Z" fill="black"/>
<path d="M294.933 23.6909H317.561L317.723 16.6004H287.24V71.4923H316.957V64.5952H294.933V23.6909Z" fill="black"/>
<path d="M335.398 32.4563L343.45 40.4774H304.461V47.7758H344.153L335.398 56.5012L340.578 61.6612L356.272 46.0279V42.9297L340.578 27.2963L335.398 32.4563Z" fill="black"/>
<path d="M375.907 0H191.774V7.36417L184.133 0.00729848H0V88.2496L11.9094 99.9198L199.229 101L199.218 95.4203L203.684 99.9125L391.004 100.993L390.857 14.5313L375.907 0ZM375.907 80.9438V10.0974L383.534 17.5893L383.655 88.8736L375.907 81.1554V80.9438ZM199.101 26.4351V7.29848H368.581V80.9438H199.193L199.101 26.4387V26.4351ZM191.774 26.4971V88.2423H191.877V88.8809L184.129 81.1627V10.1047L191.756 17.5966L191.771 26.4935L191.774 26.4971ZM176.806 7.30578V80.9511H7.32662V7.30578H176.806ZM10.6199 88.2496H180.883L186.283 93.6285L14.9829 92.6396L10.6199 88.2496ZM202.391 88.2423H372.654L378.054 93.6212L206.754 92.6323L202.391 88.2423Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_121_613">
<rect width="391" height="101" fill="white"/>
</clipPath>
</defs>
</svg>

    <div class="dropdown">
      <button class="dropbtn">Europa</button>
      <div class="dropdown-content">
        <a href="#">Berlin</a>
        <a href="#">Copenhagen</a>
      </div>
    </div>
  </div>
</header>


<!-- CSS styles for header og dropdown menu -->
  <style>
    /* Navigation bar */
    .navbar {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid black;
    }

    /* Dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Knappen/teksten */
    .dropbtn {
      background-color: transparent;
      color: rgb(0, 0, 0);
      padding: 10px 20px;
      font-size: 40px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 550;
      border: none;
      cursor: pointer;
    }

    /* Dropdown indhold (skjult som standard) */
    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    /* Vis dropdown ved hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropbtn::after {
      content: " ▼";
      font-size: 22px;
      
    }

    .dropdown:hover .dropbtn::after {
      content: " ▲";
    }

    .dropbtn::after {
      content: " ▼";
      font-size: 22px;
    }
  </style>
